<?php

$appCss = '
<!-- inject:css -->
<!-- endinject -->
';

$appJsShims = '
<!-- shims:js -->
<!-- endinject -->
';

$appConfig = '
<% if (ENV === "dev") { %>
<script>
  System.config(<%=
    JSON.stringify(SYSTEM_CONFIG, null, 2)
  %>)
</script>
<% } %>
';

$appJsLibs = '
<!-- libs:js -->
<!-- endinject -->
';

$appJs = '
<!-- inject:js -->
<!-- endinject -->
';

$appBootstrap = "
<% if (ENV === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at https://github.com/mgechev/angular2-seed/issues');
    });
  </script>
<% } %>
";
